<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhuangfei.adapterlib">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application>

        <activity
            android:name=".activity.UploadHtmlActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activity.AdapterTipActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activity.AdapterSchoolActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activity.AdapterSameTypeActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activity.SearchSchoolActivity"
            android:theme="@style/NoActionBarTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activity.StationWebViewActivity"
            android:theme="@style/NoActionBarTheme" />
        <activity
            android:name=".activity.TinyAuthActivity"
            android:launchMode="singleTask"
            android:theme="@style/NoActionBarTheme" />

        <activity android:name=".activity.qingguo.XiquerLoginActivity"
            android:theme="@style/NoActionBarTheme"/>

        <activity android:name=".activity.scan.ScanImportActivity"
            android:theme="@style/NoActionBarTheme"/>

    </application>

</manifest>